.productsWrapper {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  width: 240px;
  min-width: 240px;
}

.productWrapper {
  margin: 2px;

  span {
    font-weight: bold;
  }
}

.productTitle {
  font-weight: bold;
}
